body
{
    margin: 0; 
}

.top-bar-search
{
    width: 100%;
    height: 70px;
    background-color: rgb(27, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 44px rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

h1{
    margin: 0;
    text-align: center;
    color: rgb(205, 164, 114);
}

.p-uno
{
padding-top: 5px ;
margin-right: 20px;}

.box-interactive{
    width: 100%;
    background-color: rgb(47, 47, 47);}

p{
    width: 100%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    background-color: rgb(205, 178, 124);
    border-radius: 25px;
    border: solid 3px rgb(78, 60, 29);
    box-sizing: border-box;
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
}

h2{
    color: aliceblue;
    text-shadow: 0px 0px 20px white;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 30px;
}

.flama{
text-align: center;
padding:10px 10px;
width: 100%;
margin: 50px 0px;
box-sizing: border-box;
border-radius: 25px;
background-color: rgb(255, 255, 255);
}

option{
    text-align: center;
padding:10px 10px;
width: 100%;
margin: 50px 0px;
box-sizing: border-box;
border-radius: 25px;
background-color: rgb(255, 255, 255);
}
