body
{
    margin: 0; 
}

.top-bar-search
{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 44px rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

h1{
    margin: 0;
    text-align: center;
    color: rgb(205, 164, 114);
}

.p-uno
{
padding-top: 5px ;
margin-right: 20px;
}

.img-logo-p
{
    width: 100%;
    height: 600px;
}

h3
{
    margin: 10;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}

.seccion-dos
{
    width: 100%;
    height: 900px;
    margin: auto;
    background-color: rgb(255, 236, 218);
}

.about-us
{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(71, 48, 14);
}

.info-cont
{
    margin: 20px;
    border: solid 4px rgb(210, 179, 152);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-one
{
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
}

.p-dos
{
    padding: 10px;
    font-family: sans-serif;
    line-height: 30px;
}


.botom-one
{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: solid 3px black;
    text-align: center;
    margin:30px auto;
}
.a-one
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}